* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    background-color: rgba(22,22,22,255);
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 5;
}


.decoracion {
    color: grey;
    font-size: 60px;
    text-align: center;
}